@import "tailwindcss";
@import url("https://use.typekit.net/sgp2hsh.css");

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.leaderboardContainer {
  position: absolute;
  top: 672px;
  left: 189px;
  width: 1535px;
  height: 373px;
}

.leaderboard {
  width: 100%;
  font-size: 32px;
  color: #148dea;
  border-collapse: collapse;
  font-family: kanit, sans-serif;
  font-weight: 400;
  font-style: normal;
}
thead th:first-child {
  border-top-left-radius: 0px;
}

thead th:last-child {
  border-top-right-radius: 0px;
}

.leaderboard th,
.leaderboard td {
  border: 2px solid #148dea;

  padding: 12px 18px;
  text-align: center;
  /* border-radius: 20px; */
}

.leaderboard thead {
  background-color: #fff;
  /* border-radius: 50px; */
}

.leaderboard th {
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  /* border-bottom: 2px solid #148dea; */
}

.leaderboard tr:nth-child(even) {
  /* background-color: #fff; */
}
.table-wrapper {
  border-radius: 12px;
  overflow: hidden; /* this is the trick */
  border: 2px solid #148dea;
  height: fit-content;
  width: 100%;
}
