@import url("https://use.typekit.net/sgp2hsh.css");
@import "tailwindcss";

@theme {
  --color-minion-blue: rgb(54, 176, 201);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: poppins;
}

.l3-winner {
  position: absolute;
  top: 53px;
  left: 53px;
  width: 497px;
  height: 467px;
  padding: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.scoreEntry {
  font-size: 30px;
  width: 100%;
  max-height: 100px;
  display: grid;
  grid-template-columns: 40px 200px 1fr;
  white-space: nowrap;
}

.nameEntry {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-minion-blue);
}
